header {
	background-image: url('../images/logo (1).png');
    background-repeat: no-repeat;
    background-position: 20px 5px;
	height: 70px;
	width: 100%;
	margin-bottom: 30px;
	border-bottom: 1px solid #CCCCCC;
}
